.details-wrapper {
  margin-left: 10px;
}

.title {
  font-weight: 600;
  margin-bottom: -5px;
}

.type {
  font-size: 12px;
  font-style: italic;
}

.inputBox .MuiOutlinedInput-root {
  border-radius: 50px;
}
/* 
.MuiAutocomplete-inputRoot .MuiOutlinedInput-notchedOutline {
  border: 1px solid red;
}

.MuiAutocomplete-inputRoot:hover .MuiOutlinedInput-notchedOutline{
  border: 1px solid yellow;
}

.MuiAutocomplete-inputRoot .Mui-focused .MuiOutlinedInput-notchedOutline {
  border: 1px solid yellow;
} */