input {
  width: 100%;
  padding: 5px;
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  border: none;
  background-color: #212529;
  border: none;
}

input:focus {
  outline: none;
}

thead tr:nth-child(1) th {
  position: sticky;
  top: 0;
  z-index: 1;
}

.track-container {
  overflow-y: scroll;
}

.track-container::-webkit-scrollbar {
  background-color: #212529;
  width: 10px;
}

.track-container::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: #343a40;
  border-radius: 10px;
}

.cover-art {
  object-fit: scale-down;
}

@media (max-width: 575px) {
  .track-container {
    max-height: calc(100vh - 370px);
  }
}

@media (min-width: 576px) {
  .track-container {
    max-height: calc(100vh - 400px);
  }
}

@media (min-width: 768px) {
  .track-container {
    max-height: calc(100vh - 415px);
  }
}

@media (min-width: 992px) {
  .track-container {
    max-height: calc(100vh - 425px);
  }
}
