.Login {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  text-align: center;
}

.Login a {
  text-decoration: none;
  color: white;
}

.Login h1 {
  font-size: 3em;
}

.Login img {
  max-width: 320px;
}

.Login h2 {
  font-size: 1.5em;
}

.Login .button {
  align-self: center;
  margin: 50px 0;
}

.Login > * {
  position: relative;
  top: -100px;
}
