.playlist-container {
  padding: 0 1vw;
  min-width: 1250px;
  height: calc(100vh - 450px)
}

.playlist-header {
  margin: 1vh 0;
  padding: 1vh 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
}

input {
  width: 100%;
  padding: 5px;
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  border: none;
  background-color: #212529;
  border: none;
}

input:focus{
  outline: none;
}

.list-header {
  padding-left: 0.8vw;
  padding-bottom: 1vh;
  display: grid;
  grid-template-columns: 1.5% 49.2% 41.8% 7%;
  border-bottom: 1px solid gray;
  min-width: 1250px;
}

.track-list {
  overflow-y: scroll;
  height: 100%;
}

.track-list::-webkit-scrollbar {
  background-color: #212529;
  width: 10px;
}

.track-list::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: #343A40;
  border-radius: 10px; 
}

.list-container {
  height: 87%;
}

h4 {
  margin: 0;
  text-align: left;
  color: white;
}

.button-wrapper{
  display: flex;
}