.track {
  cursor: pointer;
}

.play-btn {
  visibility: hidden;
}

.track:hover .num {
  visibility: hidden;
}

.track:hover .play-btn {
  visibility: visible;
}

.remove-btn {
  visibility: hidden;
}

.track:hover .remove-btn {
  visibility: visible;
}

@media (min-width: 320px) {
  .remove-btn {
    visibility: visible;
  }
}

@media (min-width: 760px) {
  .remove-btn {
    visibility: hidden;
  }
}
